<html>
  <head>
    <title>Edit article</title>
  </head>
  <body>
    <h1>Edit article!</h1>
    <p>Edit ur article here</p>
    <form action='/articles/new/' method='POST'>
      Ur name :  <input type='text' name='article_author'/><br/>
      Ur text : <input type='text' name='article_content'/><br/>
      <input type='submit'/>
      <button><a href="/">Back</a></button>
    </form>
  </body>
</html>