<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <h1>Awesome, just rackup!!</h1>
        <button><a href="/articles/new">New</a></button>
        <% articles.each_with_index do |article, index| %>
            <p>
              <%= article.author %><br/>
              <%= article.content %><br/>
              <button><a href="/articles/<%=index + 1%>">Show</a></button>
            </p>
          <% end %>
    </body>
</html>
