<html>
    <head>
        <title>article @<%=params["id"]%></title>
    </head>
    <body>
        <h1>Awesome article @<%=params["id"]%></h1>
        <p>Author =><%= article[0] %></p>
        <p>Content =><%= article[1] %></p>
        <button><a href="/">Back</a></button>
    </body>
</html>